html {
    height: 100%;
    width: 100%
}
body {
    background-image: url("/images/opaque_santa_village.png.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
h1 {
    color: red;
    text-align: center;
    font-family: "Sofia", sans-serif;
}
li {
    color: green;
}
