@font-face {
    font-family: 'TwinkleLightsDemo';
    src: url('/fonts/Twinkle\ Lights\ Demo.ttf') 
    }
@font-face {
    font-family:'MerryChristmasFlake' ;
    src: url('/fonts/MerryChristmasFlake.ttf'); 
}
@font-face {
    font-family:'MerryChristmasStar' ;
    src: url('/fonts/MerryChristmasStar.ttf');
}
@font-face {
    font-family: 'LastChristmas';
    src: url('/fonts/LastChristmas_PERSONAL_USE_ONLY.otf');
}
@font-face {
    font-family: 'LastChristmasSymbols';
    src: url('/fonts/LastChristmasSymbols_PERSONAL_USE_ONLY.otf');
}
@font-face {
    font-family: 'SantasAirMail';
    src: url('/fonts/Santa\'s\ Air\ Mail.ttf');
}
@font-face {
    font-family: 'SilverChristmas';
    src: url('/fonts/Silver\ Christmas\ -\ Personal\ Use.otf');
}
@font-face {
    font-family: 'WonderfulChristmas';
    src: url('/fonts/WonderfulChristmas_PERSONAL_USE_ONLY.otf');
}
@font-face {
    font-family: 'WonderfulChristmasSymbols';
    src: url('/fonts/WonderfulChristmasSymbols_PERSONAL_USE_ONLY.otf');
}
.twinklelightsdemo {
    font-family: TwinkleLightsDemo;
    font-size: 30pt;
}
.merrychristmasflake {
    font-family: MerryChristmasFlake;
    font-size: 30pt;
}
.merrychristmasstar {
    font-family: MerryChristmasStar;
    font-size: 30pt;
}
.lastchristmas {
    font-family: LastChristmas;
    font-size: 30pt;
}
.lastchristmassymbols {
    font-family: LastChristmasSymbols;
    font-size: 30pt;
}
.santasairmail {
    font-family: SantasAirMail;
    font-size: 30pt;
}
.silverchristmas {
    font-family: SilverChristmas;
    font-size: 30pt;
}
.wonderfulchristmas {
    font-family: WonderfulChristmas;
    font-size: 30pt;
}
.wonderfulchristmassymbols {
    font-family: WonderfulChristmasSymbols;
    font-size: 30pt;
}